<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css"
      rel="stylesheet" />
    <title>All Blogs</title>
  </head>
  <body class="bg-gray-100 font-sans antialiased">
    <!-- Navbar -->
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
      <div>
        <h1 class="text-3xl font-bold">AI Blog Generator</h1>
      </div>
      <div>
        <a href="#" class="hover:underline">Logout</a>
      </div>
    </nav>
    <div class="container mx-auto mt-10 px-4 sm:px-0">
      <div class="bg-white mx-auto max-w-3xl p-6 rounded-lg shadow-md">
        <!-- Blogs section -->
        <section>
          <h2 class="text-xl mb-4 font-semibold">All Blogs Posts</h2>
          {% for article in blog_articles %}
          <div class="space-y-4">
            <a href="blog-details/{{article.id}}">
              <div class="border border-gray-300 p-4 rounded-lg">
                <h3 class="text-lg font-semibold">{{article.title}}</h3>
                <p>{{article.content|truncatechars:80}}</p>
              </div>
            </a>
            {% endfor %}
          </div>
        </section>
      </div>
    </div>
    <footer class="text-center mt-6 text-black p-4">
      Muhammad Tarek Following Tomi
    </footer>
  </body>
</html>
